<span class="alert">{{errorMsg}}</span>
<span class="info">{{infoMsg}}</span>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Application Error Codes</h1>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Application: {{ applicationId }}</h4>
        </div>
        <div class="card-body">
          <p-table
            #dt
            [value]="applicationErrorCodes"
            dataKey="Id"
            [rowHover]="true"
            [rows]="pageSize"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
            styleClass="p-datatable-striped"
            [loading]="isLoading">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 4rem">
                  <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="ErrorCode" style="width: 10%">ErrorCode <p-sortIcon/></th>
                <th pSortableColumn="Description" style="width: 40%">Description <p-sortIcon/></th>
                <th pSortableColumn="Remediation" style="width: 40%">Remediation <p-sortIcon/></th>
                <th style="width: 10%">Actions <p-sortIcon/></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rec>
              <tr [pEditableRow]="rec">
                <td>
                  <p-tableCheckbox [value]="rec" />
                </td>
                <td>
                  {{ rec.ErrorCode }}
                </td>
                <td>
                  {{ rec.Description }}
                </td>
                <td>
                  {{ rec.Remediation }}
                </td>
                <td>

                    <p-button
                      icon="pi pi-pencil"
                      (onClick)="editRec(rec)"
                      [rounded]="true"
                      [outlined]="true"
                      severity="success"
                      class="mr-2">
                    </p-button>
                    &nbsp;
                    <p-button
                      pButton pRipple
                      severity="danger"
                      icon="pi pi-trash"
                      severity="danger"
                      [rounded]="true"
                      [outlined]="true"
                      (onClick)="deleteRec(rec)"/>

                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
              <p-button
                severity="success"
                label="New"
                icon="pi pi-plus"
                class="btn mr-2"
                (onClick)="openNew()" />
              <p-button
                severity="danger"
                label="Delete"
                icon="pi pi-trash"
                class="btn"
                (onClick)="deleteSelectedRecs()"
                [disabled]="!selectedRecs || !selectedRecs.length" />
            </ng-template>
          </p-toolbar>
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    [(visible)]="showDialog"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="name">ErrorCode</label>
        <input class="form-control"
          type="text"
          pInputText
          id="name"
          [(ngModel)]="applicationErrorCode.ErrorCode"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted && !applicationErrorCode.ErrorCode">
          Name is required.
        </small>
      </div>
      <div class="field top-buffer">
        <label for="description">Description</label>
        <textarea class="form-control"
          id="description"
          pInputTextarea
          [(ngModel)]="applicationErrorCode.Description"
          required
          rows="3"
          cols="20">
        </textarea>
      </div>
      <div class="field top-buffer">
        <label for="remediation">Remediation</label>
        <textarea  class="form-control"
          id="remediation"
          pInputTextarea
          [(ngModel)]="applicationErrorCode.Remediation"
          required
          rows="3"
          cols="20">
        </textarea>
      </div>

    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (onClick)="hideDialog()" />
      <p-button
        label="Save"
        icon="pi pi-check"
        [text]="true"
        (onClick)="saveRec()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
