<span class="alert">{{errorMsg}}</span>
<span class="info">{{infoMsg}}</span>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1>AWS Config Rules Compliance</h1>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Rules</h4>
        </div>
        <div class="card-body">
          <p-table
            #dt1
            [value]="rules"
            dataKey="Name"
            [rows]="pageSize"
            [paginator]="true"
            selectionMode="single"
            [showCurrentPageReport]="true"
            styleClass="p-datatable-striped"
            [globalFilterFields]="['ConfigRuleName']"
            [loading]="isLoading">

            <ng-template pTemplate="header">
              <tr style="height:30px">
                <th pSortableColumn="ConfigRuleName" scope="col" style="min-width:15rem">
                  <div class="flex align-items-center">
                    Rule Name <p-sortIcon/>
                    <p-columnFilter type="text" field="ConfigRuleName" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th pSortableColumn="Compliance.ComplianceType" scope="col" style="min-width:15rem">
                  <div class="flex align-items-center">
                    Status <p-sortIcon/>
                    <p-columnFilter type="text" field="Compliance.ComplianceType" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th pSortableColumn="Compliance.ComplianceContributorCount.CappedCount" scope="col">Compliance Count  <p-sortIcon/></th>
                <th pSortableColumn="Compliance.PreviousNoncomplianceCount" scope="col">Previous Count  <p-sortIcon/></th>
                <th scope="col">Change</th>
                <th scope="col">Exceeded Cap</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rule>
              <tr class="table-sm" [pSelectableRow]="selectedRule">
                <td><a [routerLink]="['/compliance', rule.ConfigRuleName]">{{ rule.ConfigRuleName }}</a></td>
                <td>{{ rule.Compliance.ComplianceType }}</td>
                <td>{{ rule.Compliance.ComplianceContributorCount?.CappedCount }}</td>
                <td>{{ rule.PreviousNoncomplianceCount}}</td>
                <td>{{ rule.Compliance.ComplianceContributorCount?.CappedCount -  rule.PreviousNoncomplianceCount}}</td>
                <td>{{ rule.Compliance.ComplianceContributorCount?.CapExceeded }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isAdmin()" class="row top-buffer text-center">
    <div class="col-12"><button class="btn btn-primary" (click)="resetCounts()">Reset Baseline</button></div>
  </div>


</div>

<p-progressSpinner *ngIf="isLoading" class="tbs-center"></p-progressSpinner>
<p-toast position="center" class="custom-toast"></p-toast>
<p-confirmDialog header="Warning" icon="pi pi-exclamation-triangle"></p-confirmDialog>
