<span class="alert">{{errorMsg}}</span>
<span class="info">{{infoMsg}}</span>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1>{{stackName}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h4>Stack Properties</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <span class="strong">Status:</span>
            </div>
            <div class="col-9">
              <span title="{{stack?.StackStatusReason}}">{{stack?.StackStatus}}</span>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="col-3">
              <span class="strong">Created:</span>
            </div>
            <div class="col-9">
              <span>{{stack?.CreationTime}}</span>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="col-3">
              <span class="strong">Last Updated:</span>
            </div>
            <div class="col-9">
              <span>{{stack?.LastUpdatedTime}}</span>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="col-3">
              <span class="strong">Security Tag:</span>
            </div>
            <div class="col-8">
              <span>{{securityTag + ""}}</span>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="col-3">
              <span class="strong">Drift Status:</span>
            </div>
            <div class="col-8">
              <span>{{stack?.DriftInformation?.StackDriftStatus}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card top-buffer">
        <div class="card-header">
          <h5>Stack Input Parameters</h5>
        </div>
        <div class="card-body">
          <p-table
            #dt1
            [value]="stack?.Parameters"
            dataKey="ParameterKey"
            [rows]="pageSize"
            styleClass="p-datatable-striped"
            [scrollable]="true" scrollHeight="400px" [virtualScroll]="true" [virtualScrollItemSize]="46"
            [loading]="isLoading">

            <ng-template pTemplate="header">
              <tr style="height:30px">
                <th scope="col" style="min-width:15rem">
                  <div class="flex align-items-center">
                    Key
                    <p-columnFilter type="text" field="ParameterKey" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th scope="col" style="min-width:15rem">
                  <div class="flex align-items-center">
                    Value
                    <p-columnFilter type="text" field="ParameterValue" display="menu"></p-columnFilter>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-param>
              <tr class="table-sm">
                <td>{{ param.ParameterKey }}</td>
                <td><span title="{{ param.ResolvedValue }}">{{ param.ParameterValue }}</span></td>
              </tr>
            </ng-template>
          </p-table>
          <div *ngIf="isMaintainer() && securityTag != 'pci' && parameters.length > 0 " class="row top-buffer">
            <div class="col-12 text-end">
              <button pButton class="btn btn-outline-success" (click)="createChangeSet()">Create ChangeSet</button>
              <button *ngIf="hasCreatedChangeSet()" pButton class="btn btn-outline-primary" (click)="viewCreatedChangeSet()">View Created ChangeSet</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h4>Stack SSM Parameters</h4>
        </div>
        <div class="card-body">
          <p-table
            #dt1
            [value]="parameters"
            dataKey="Name"
            [rows]="pageSize"
            selectionMode="single"
            [showCurrentPageReport]="true"
            styleClass="p-datatable-striped"
            [globalFilterFields]="['Name', 'Type', 'Value']"
            [loading]="isLoading">

            <ng-template pTemplate="header">
              <tr style="height:30px">
                <th scope="col" style="min-width:9rem">
                  <div class="flex align-items-center">
                    Name
                    <p-columnFilter type="text" field="Name" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th scope="col" style="min-width:10rem">
                  <div class="flex align-items-center">
                    Type
                    <p-columnFilter type="text" field="Type" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th scope="col" style="min-width:10rem">
                  <div class="flex align-items-center">
                    Value
                    <p-columnFilter type="text" field="Value" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th scope="col">Version</th>
                <th scope="col">Last Modified</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-param>
              <tr class="table-sm" [pSelectableRow]="param">
                <td>{{ param.Name }}</td>
                <td>{{ param.Type }}</td>
                <td *ngIf="param.Type!='String' && param.Type!='StringList'">********</td>
                <td *ngIf="param.Type=='String' || param.Type=='StringList'">
                  <span *ngIf="param.HasChanged" class="changed">{{ param.Value }}</span>
                  <span *ngIf="!param.HasChanged">{{ param.Value }}</span>
                </td>
                <td>{{ param.Version }}</td>
                <td>{{ param.LastModifiedDateLocalFormatted }}</td>
                <td>
                  <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="param.Type=='String' || param.Type=='StringList' " pButton pRipple type="button" icon="pi pi-pencil" class="p-button-success mr2" (click)="editParam(param)"></button>
                    <button *ngIf="param.Type!='String' && param.Type!='StringList' " pButton pRipple type="button" icon="pi pi-pencil" class="p-button-success mr2" disabled></button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div *ngIf="hasMoreParameters" class="row top-buffer">
            <div class="col-12 text-end">
              <button class="btn btn-outline-primary" (click)="reloadParams()">Reload</button>
              <span>&nbsp;</span>
              <button *ngIf="hasMoreParameters" class="btn btn-outline-success" (click)="getMore()">More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog *ngIf="selectedParam.Name" [(visible)]="displayParamDialog" [style]="{width: '680px'}" header = "Parameter Details"
          [modal] = "true" styleClass="p-fluid">
  <div class="row top-buffer">
    <div class="col-3">
      <span class="strong">Name:</span>
    </div>
    <div class="col-9">
      {{selectedParam.Name}}
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-3">
      <span class="strong">Description:</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea id="description" pInputTextarea [(ngModel)]="selectedParam.Description" disabled rows="3" cols="60"></textarea>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-3">
      <span class="strong">Last modified:</span>
    </div>
    <div class="col-9">
      {{selectedParam.LastModifiedDateLocalFormatted}}
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-3">
      <span class="strong">Version:</span>
    </div>
    <div class="col-9">
      {{selectedParam.Version}}
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-3">
      <span class="strong">Value:</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea id="value" pInputTextarea [(ngModel)]="selectedParam.Value" rows="3" cols="60"></textarea>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button class="btn btn-primary" (click)="cancelUpdateParam()">Cancel</button>
      <span>&nbsp;</span>
      <button class="btn btn-success" (click)="updateParam()">Update</button>
    </div>
  </div>

</p-dialog>

<p-progressSpinner *ngIf="isLoading" class="tbs-center"></p-progressSpinner>
<p-toast position="center" class="custom-toast"></p-toast>
<p-confirmDialog header="Warning" icon="pi pi-exclamation-triangle"></p-confirmDialog>
