<div class="container pages text-justify pb-5 top-buffer">

  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h2>About "DevOps Toolkit"</h2>
        </div>
        <div class="card-body">
          <div class="card-title">
            DevOps Toolkit provides facilities for authorised IT staff to administer AWS components across applications.
          </div>


          <h5 class="top-buffer-x2">Contributors</h5>
          <div class="row top-buffer">
            <div class="col-3">
              Bryce Cummock
            </div>
            <div class="col-9">

            </div>
          </div>

          <h5 class="top-buffer-x2">Contact</h5>
          <div class="row top-buffer">
            <div class="col-12">
              For further information, please send an email to admin@fizzbuzztech.com
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>

