@import "primeicons/primeicons.css";

body {
  font-family: sans-serif;
}

/* You can add global styles to this file, and also import other style files */
.top-buffer {
  padding-top: 1rem;
}

.top-buffer-x2 {
  margin-top: 2rem;
}

.hint {
  font-style: italic;
  color: darkslategray;
}

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
.thumbnail:hover {
  position: relative;
  top:-5px;
  left:-5px;
  height: 150px;
  display:block;
  z-index:999;
}

/* The following allow cards in group to have equal heights */
.card-group {
  display: flex;
  width: 100%;
}

.card-deck .card {
  display: flex;
  //flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
}

.card-block {
  flex: 1 1 auto;
}

.card-deck .card .card-title {
  font-weight: bold;
}


.card .dark {
  background-color: #424242;
  color: white;
}

.tbs-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
